body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d4ed91; /* Ljusgrön bakgrund */
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  